
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Variables
//@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
//@import "../../../node_modules/MDB Admin Dashboard/sass/mdb";
@import "../../../other_modules/mdbootstrap/sass/mdb";
@import "dataTables.bootstrap4.min.css";
@import "multi-select.min.css";

/* Base Settings */

.top-nav-collapse {
    background-color: #0d47a1 !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    } 
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 750px; 
    } 
}
@media (min-width: 741px) and (max-height: 638px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 750px; 
    } 
}

/* FORM Builder Formbuilder */
form{
    padding-top: 30px;
}
.md-form .ms-container{
    padding-top: 40px;
}
.md-form .mdb-select{
    padding-top: 40px;
}
.md-form .mdb-select>span:first-child{
    margin-top: 40px;
}
/* Table Defaults */

.table-options{

}            
.table-options i{
    font-size: 19px;
    padding: 0 5px;
}
.table-options i:hover{
    color: #0d47a1;
    font-weight: bold;

}
.pagination .page-link:focus,
.pagination .page-link:hover {    
    background-color: #108bff !important;
    color: #fff !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    right: 0.3em;
    content: "\2193";
    font-size: 20px;
    top: 0.6em;
}            
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
    right: 0.7em;
    content: "\2191";
    font-size: 20px;
    top: 0.6em;                
}