.backButton{
    position: absolute;
    right: 40px;
    z-index: 5
}

.sub_sub_nav_resizeme,
.operation_steps{
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}
#collapseOne{
    position: absolute;
    z-index: 3;
    margin: 55px 0 0 5px;
    width: 100%;
    padding-right: 11px;
}

.btnStatus{
    width: 100%;
    height: 30px;
    display: block;
    padding: 3px 0;
    text-align: center;
    font-weight: 400;    
}

.working_step_short_text{
    font-weight: 400;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    /* text-shadow: 1px 1px 2px #ffffff;*/
}
.workingStepsOperations td{
    cursor: pointer;
}

.workingStepsOperations td:hover, .workingStepsOperations .activeStep{
    border-color: #666 !important;
    opacity:0.8;
}

.rightMenu{
    display: none;
}

.progress{
    height: 8px;
    margin-bottom: 0;
    border: 1px solid #909090;
}
.progress .progress-bar{
    height: 6px;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}